$text-primary: #f9fcf3;
$dark: #1c1b23;
$light-blue: #b6f0e1;
$turquoise: #72e4ce;
$orange-dark: #ff6f26;
$orange-light: #ff7a05;
$box-shadow: 0 1px 2px rgba(0, 0, 0, -0.95), 0 1px 4px rgba(0, 0, 0, 1.05),
  0 2px 8px rgba(0, 0, 0, 0.05);

@mixin transitionAll {
  transition: all 0.5s;
}

@mixin gridItem($colStart, $colEnd, $rowStart, $rowEnd) {
  grid-column-start: $colStart;
  grid-column-end: $colEnd;
  grid-row-start: $rowStart;
  grid-row-end: $rowEnd;
}

@mixin paragraphStyle($txtAlign) {
  text-align: $txtAlign;
  margin: 50px 10px 0 0;
  font-size: 1.4rem;
  line-height: 25pt;
}

@mixin imagePositioning($position, $top, $left, $right, $bottom) {
  position: $position;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}
@mixin random-bgr() {
  background: rgb(random(255), random(255), random(255));
}

@mixin tagTransitionAndColoring() {
  @for $i from 1 through 50 {
    &:nth-child(#{$i}) {
      background: rgb(random(250), random(150), random(150));
    }
  }
}

@mixin animationDelay() {
  @for $i from 1 through 50 {
    &:nth-child(#{$i}) {
      animation-delay: 0.1s * $i;
    }
  }
}
