@import "config";
@import "variables";
@import "media";

.footer {
  background: $dark;
  height: 25vh;
  color: silver;
  display: flex;
  justify-content: space-evenly;
  .links__social {
    display: flex;
    flex-direction: column;
    margin: 20px;
    cursor: pointer;
    @include phone {
      margin: 0;
      padding: 10px;
    }

    i {
      display: block;
      @include transitionAll;
      &:hover {
        color: $orange-dark;
      }
    }
  }

  .links__menu {
    margin: 20px;
    ul {
      display: flex;
    }
    li {
      list-style: none;
      position: relative;
      margin: 15px;
      a {
        .bottom_line {
          position: absolute;
          background-color: white;
          bottom: 0px;
          right: 0px;
          width: 100%;
          height: 2px;
          transform: scaleX(0);
          transform-origin: top left;
          transition-delay: 0.5/4;
          @include transitionAll;
        }
        &:hover {
          .bottom_line {
            transition-delay: 4/2;
            transform: scaleX(1);
          }
        }
      }
    }

    .blm {
      p {
        @include phone {
          margin-left: 5px;
          font-size: 4vw;
        }
      }
    }

    @include phone() {
      margin: 0px;
    }
  }

  @include phone {
    justify-content: unset;
  }
}
