@import "config";
@import "variables";

.header {
  position: relative;
  .banner {
    position: relative;
    height: 85vh;
    h1 {
      opacity: 0;
      animation: opacity 0.6s ease-in forwards;
      animation-delay: 1.3s;
      padding: 20px;
      z-index: 2;
      color: $text-primary-dark;
      font-size: 7vw;
    }
    .animated-images {
      position: absolute;
      height: 250px;
      width: 50%;
      bottom: 10px;
      right: 10px;
      img {
        animation: opacity 0.3s ease-in forwards;
        &:first-child {
          opacity: 0;
          @include imagePositioning(absolute, 45%, 27%, 0px, 30px);
          animation-delay: 0.2s;
          z-index: 3;
        }
        &:nth-of-type(2n) {
          @include imagePositioning(absolute, 0px, 88px, 0px, 30px);
          opacity: 0;
          animation-delay: 0.4s;
        }
        &:nth-of-type(3n) {
          @include imagePositioning(absolute, -15%, 60%, 0px, 30px);
          opacity: 0;
          animation-delay: 0.6s;
        }
        &:nth-of-type(4n) {
          @include imagePositioning(absolute, 15%, 44%, 0px, 0px);
          z-index: 2;
          opacity: 0;
          animation-delay: 0.8s;
        }
        &:nth-of-type(5n) {
          @include imagePositioning(absolute, 50%, 5%, 0px, 0px);
          opacity: 0;
          animation-delay: 1s;
        }
        &:nth-of-type(6n) {
          @include imagePositioning(absolute, 50%, 55%, 0px, 0px);
          opacity: 0;
          animation-delay: 1.2s;
        }
      }
    }
  }
}

.navbar {
  background-color: $bg-color-main;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  border-radius: 0px 0px 10px 10px;

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    color: $text-primary;
    font-weight: 600;
    margin-right: 20px;
    li {
      margin: 10px;
      @include transitionAll;
      svg {
        &:first-child {
          margin: -3px;
          margin-right: 6px;
        }
      }
      a {
        font-size: 1.2rem;
      }
      &:hover {
        text-shadow: 1px 1px 1px
          lighten($color: $text-primary-dark, $amount: 10);
        transform: translate(0px, -10px);
      }
    }
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
