@import "config";
@import "variables";

.landing-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 400px);
  .landing__intro {
    @include gridItem(1, 3, 1, 2);
    display: flex;
    & > div {
      width: 50%;
    }
    .intro {
      padding: 20px;
      h2 {
        font-size: 3rem;
      }
      p {
        @include paragraphStyle(right);
      }
    }
  }
  .landing__site_info {
    @include gridItem(1, 3, 2, 3);
    display: flex;
    & > div {
      width: 50%;
    }
    h2 {
      font-size: 3rem;
    }
    p {
      @include paragraphStyle(left);
    }
  }
  .landing__explore {
    @include gridItem(1, 3, 3, 4);
    display: flex;
    & > div {
      width: 50%;
    }
    h2 {
      font-size: 3rem;
    }
    p {
      @include paragraphStyle(right);
    }
  }
}
