@import "config";
@import "variables";

.tags_page {
  display: grid;
  grid-template-columns: 15vw auto 15vw;
  grid-template-rows: repeat(20, 150px);
  background: rgb(214, 213, 213);

  h1 {
    @include gridItem(2, 3, 2, 3);
    font-size: 3rem;
    text-align: center;
  }
  .most-popular-tags {
    @include gridItem(2, 3, 2, 6);
    display: flex;
    justify-content: center;
    ul {
      list-style: none;
      text-align: center;
      margin-top: 60px;
      width: 70%;
      li {
        @include tagTransitionAndColoring;
        @include animationDelay();
        position: relative;
        margin: 7px;
        border-radius: 15px;
        animation: fadeIn 0.5s linear;
        animation-fill-mode: both;
        box-shadow: $box-shadow;

        &:hover {
          @include tagTransitionAndColoring;
          @include transitionAll;
          transform: translate(0px, -3px);
        }
        a {
          padding: 2px;
          font-size: 2rem;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0;
  }
  100% {
    opacity: 1;
  }
}
